# OSX
#
.DS_Store

# Datasets
data/
weights/

*.pyc
test.ipynb
test2.ipynb
out*/
temp/
flask/static/
flask/Demo images/
flask/app2.py
Beta Result/
Final Result/
flask/models/
final_result_history/
flask/fpPlatform/
